# Configuración sensible
/config/config.php

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de caché
*.cache
*.tmp
.npm

# Dependencias 
vendor/
node_modules/

# Archivos de entorno
.env

# Dependencias de npm
/node_modules

# Archivos de compilación temporal
*.log
